<h1>Chat Room</h1>
<div id="messages">
  <%= render @messages %>
</div>
<form action="">
  <label>Say something and hit enter:</label> <br>
  <input type="text" id="room_speaker">
</form>

<script type="text/javascript" charset="utf-8">
    const speaker = document.getElementById('room_speaker');
    speaker.addEventListener('keypress', (event) => {
        if (event.keyCode === 13) {
           // consumer.room.speak(event.target.value);
            event.target.value = '';
            event.preventDefault()
        }
    })
</script>